{% extends 'expensemanager/base.html' %}
{% block body %}

<div class="container">
    <div class="row">
        <div class="col-md-6">
          {% if not object %}
            <form method="POST" action="{% url 'create' %}">
          {% else %}
              <form method="POST" action="{% url 'update' pk=form.instance.pk %}">
          {% endif %}
              {% csrf_token %}
                <div class="form-group">
                  <table>
                    {{form}}
                  </table>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
        </div>
    </div>
</div>

{% endblock %}